body{
    margin-top:10px;
    background-color: #f2f3f8;
    overflow-x: hidden;

}
.logo{ 
  width: 130px !important;
  height: 50px !important;
}
.mt-4{
  position: relative !important;
  bottom: 5% !important;
}
.card {
    width: 450px !important;
    height: 880px !important;
    bottom: 5% !important;
    left: 10% !important;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.termstext{
  color: gray;
  position: relative !important;
  bottom: 14px !important;
  font-size: 11px;
}
.form-control{
  height: 30px !important;
  font-size: 15px !important;
}
.btn{
  width: 360px !important;
  height: 30px !important;
}
.cc{
  position: relative !important;
  bottom: 45% !important;
  font-size: 15px !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}
