{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- Kitap-tap -->
                <img src="{% static 'books/images/logo2.png'%}" alt="" width="100" height="">
              </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Профиль</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Заказы</a>
              </li>
              <li class="nav-item">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Книга/Автор" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
              </li>
              
              
              
            </ul>
            <form method="POST">

            <input type="submit" class="btn btn-outline-danger">Выйти</input>

          </form>
          </div>
        </div>
      </nav>

    <div class="container" style="margin-top: 58px;">
        <div class="row" style="margin-top: 5rem;"> 
          <div class="col">
            <img src="https://cdn.f.kz/prod/1540/1539578_550.jpg" alt="">
            <p style="text-align: center;">4.5</p>
          </div>
          <div class="col-6">
              <p>Мухтар Ауезов</p>
              <h2>Абай Жолы. Том 4 <button type="button" class="btn btn-outline-secondary" style="margin-bottom: 8px;">Заказать</button></h2>

              
              <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">О книге</a>
                    </li>
                    
                    
                  </ul>
                </div>
                <div class="card-body">
                  <p class="card-text">Главный герой романа — реальное историческое лицо, великий поэт, 
                      основоположник казахской письменной литературы, просветитель Абай Кунанбаев. 
                      В романе развернута панорама полной драматизма и противоречий народной жизни, 
                      быта и нравов кочевых и оседлых степняков конца XIX века, показана широта и красота вольнолюбивой души казахского народа, его мечты о лучшем.</p>
                  
                </div>
              </div>

              <h3 style="margin-top: 16px;">Рецензии</h3>

              <div class="card border-secondary mb-3" style="">
                <div class="card-header">Ахмедиев Алдияр</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title">4.5</h5>
                  <p class="card-text">Очень увлекательная книга. Всем советую.</p>
                </div>
              </div>
              <div class="card border-secondary mb-3" style="">
                <div class="card-header">Ахмедиев Алдияр</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title">4.5</h5>
                  <p class="card-text">Очень увлекательная книга. Всем советую.</p>
                </div>
              </div>
              <div class="card border-secondary mb-3" style="">
                <div class="card-header">Ахмедиев Алдияр</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title">4.5</h5>
                  <p class="card-text">Очень увлекательная книга. Всем советую.</p>
                </div>
              </div>

          </div>
          <div class="col">
            
          </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>