{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="util.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'books/css/main1.css'%}">

</head>
<body>
	<nav  class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- Kitap-tap -->
                <img src="{% static 'books/images/logo2.png'%}" alt="" width="100" height="">
              </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'profile'%}">Профиль</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'zakazy'%}">Заказы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'korzina'%}">Корзина</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ranking'%}">Рейтинг</a>
              </li>
              <li class="nav-item">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Книга/Автор" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
              </li>
              
              
              
            </ul>
            
			<form method="POST">
				{% csrf_token %}
			  <input type="submit" name="logout" class="btn btn-outline-danger" value="Выйти"></input>
  
			</form>
          </div>
        </div>
      </nav>
	<div style="margin-top: 40px !important;" class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Рейтинг
							</div>
							<div class="cell">
								ФИО
							</div>
							<div class="cell">
								Город
							</div>
							<div class="cell">
								Очки
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Number">
								1
							</div>
							<div class="cell" data-title="Full name">
								Магауия Бекарыс
							</div>
							
							<div class="cell" data-title="City">
								Нур-Султан
							</div>
							<div class="cell" data-title="Organization">
								50
							</div>
							
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								2
							</div>
							<div class="cell" data-title="Full name">
								Алдияр Ахмедиев
							</div>
							<div class="cell" data-title="City">
								Шымкент
							</div>
							<div class="cell" data-title="Organization">
								45
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								3
							</div>
							<div class="cell" data-title="Full name">
								Асланбек Султанов
							</div>
							<div class="cell" data-title="City">
								Нур-Султан
							</div>
							<div class="cell" data-title="Organization">
								40
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								4
							</div>
							<div class="cell" data-title="Full name">
								Алишер Жумадил
							</div>
							<div class="cell" data-title="City">
								Семей
							</div>
							<div class="cell" data-title="Organization">
								37
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								5
							</div>
							<div class="cell" data-title="Full name">
								Нуркен Таганов
							</div>
							<div class="cell" data-title="City">
								Степногорск
							</div>
							<div class="cell" data-title="Organization">
								32
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								6
							</div>
							<div class="cell" data-title="Full name">
								Диас Казбеков
							</div>
							<div class="cell" data-title="City">
								Кейптаун
							</div>
							<div class="cell" data-title="Organization">
								31
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								7
							</div>
							<div class="cell" data-title="Full name">
								Рахимгалиев Нуржан
							</div>
							<div class="cell" data-title="City">
								Актау
							</div>
							<div class="cell" data-title="Organization">
								30
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								8
							</div>
							<div class="cell" data-title="Full name">
								Орынбаев Канат
							</div>
							<div class="cell" data-title="City">
								Аягоз
							</div>
							<div class="cell" data-title="Organization">
								26
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								9
							</div>
							<div class="cell" data-title="Full name">
								Айбар Елемесов
							</div>
							<div class="cell" data-title="City">
								Семей
							</div>
							<div class="cell" data-title="Organization">
								22
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								10
							</div>
							<div class="cell" data-title="Full name">
								Шаденов Мика
							</div>
							<div class="cell" data-title="City">
								Курчатов
							</div>
							<div class="cell" data-title="Organization">
								23
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								11
							</div>
							<div class="cell" data-title="Full name">
								Рустемов Есхан
							</div>
							<div class="cell" data-title="City">
								Бескарагай
							</div>
							<div class="cell" data-title="Organization">
								22
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Number">
								12
							</div>
							<div class="cell" data-title="Full name">
								Ерлан Нугман
							</div>
							<div class="cell" data-title="City">
								Аксай
							</div>
							<div class="cell" data-title="Organization">
								21
							</div>
						</div>
						
						
						

					</div>
			</div>
		</div>
	</div>


	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>