{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- Kitap-tap -->
                <img src="{% static 'books/images/logo2.png'%}" alt="" width="100" height="">
              </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'profile'%}">Профиль</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'zakazy'%}">Заказы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'korzina'%}">Корзина</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ranking'%}">Рейтинг</a>
              </li>
              <li class="nav-item">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Книга/Автор" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
              </li>
              
              
              
            </ul>
            
            <form method="POST">
              {% csrf_token %}
            <input type="submit" name="logout" class="btn btn-outline-danger" value="Выйти"></input>

          </form>
          </div>
        </div>
      </nav>


      <div class="container" style="margin-top: 5rem;">
        
            <div class="row">
              <div class="col">
                
              </div>
              <div class="col-6">
                  <h2 style="text-align: center;">Запросы на регистрацию книг</h2>
                <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://cdn.f.kz/prod/1540/1539578_550.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Абай Жолы. 4 Том.</h5>
                          <p class="card-text"><small class="text-muted">Мухтар Ауезов</small></p>
                          <p class="card-text">Главный герой романа — реальное историческое лицо, великий поэт, 
                            основоположник казахской письменной литературы, просветитель Абай Кунанбаев. 
                            В романе развернута панорама полной драматизма и противоречий народной жизни, 
                            быта и нравов кочевых и оседлых степняков конца XIX века, показана широта и красота вольнолюбивой души казахского народа, его мечты о лучшем.</p>
                          <p class="card-text"><small class="text-muted">Назарбаев Университет</small></p>
                          <button type="button" class="btn btn-outline-success">Одобрить</button>
                          <button type="button" class="btn btn-outline-danger">Отклонить</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col">
                
              </div>
            </div>
            
          
      </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>