{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'books/css/profile.css'%}">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container mt-0 mb-0">
      <div class="firstt">
        <a class="navbar-brand flex-grow-1" href="#"><img style=" padding:0 !important; width: 92.8px; height: 40px;" src="{% static 'books/images/logo2.png'%}" alt="sani"></a>
      </div>


      <div class="thirdd">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       <div class="secondd flex-grow-1 d-flex">
        <form class="form-inline flex-nowrap bg-light mx-0 mx-lg-auto rounded p-1" style=" padding:0 !important;">
          <input  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
        </div>
      </div>


    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center ">
        <div class="panel panel-default">
          <div class="userprofile social ">
            <div class="userpic"> <img src="{% static 'books/images/unnamed.jpeg'%}" alt="" class="userpicimg"> </div>
            <h3 class="username">Bekarys Magauiya</h3>
            <p>@ob1one</p>
          </div>
          <div class="col-md-12 center">
            <img class="pencil" src="{% static 'books/images/pencil.png'%}" alt="404">
            <ul class="nav nav-pills pull-left countlist" role="tablist">
           
              <li role="presentation">
                <h5>245<br>
                  <a href="signup.html" class="removeblue"><small>Прочитано</small></a>
                </h5>
              </li>
                 <li role="presentation">
                <h5>5<br>
                  <a href="signup.html" class="removeblue"> <small>Сохранённые</small> </a>
                </h5>
              </li>
              <li role="presentation">
                <h5>5000<br>
                  <a href="signup.html" class="removeblue"> <small>Активность</small>
                </h5></a>
              </li>
              <li role="presentation">
                <h5>19<br>
                  <a href="signup.html" class="removeblue"> <small>Рейтинг</small>
                </h5></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 pull-right ppad">
        <div class="panel panel-default">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item"><span class="fa fa-male"></span> Обожаю детективные истории</li>
              <li class="list-group-item"><span class="fa fa-institution"></span> Astana IT University</li>
              <li class="list-group-item"><span class="fa fa-user"></span> www.linkedin.com/in/maagauiya</li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="posts">
      <div class="container mt-4 mb-5">
        <div class="d-flex justify-content-center row">

          <div class="col-md-8">
            <div class="feed p-2">
              <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
                <div class="feed-text px-2">
                  <h6 class="text-black-50 mt-2">Последние действия</h6>
                </div>
                <div class="feed-icon px-2"><i class="fa fa-long-arrow-up text-black-50"></i></div>
              </div>

          


              <div class="bg-white border mt-2">
                 <a href="askdl;asdkl;as"> Harry Potter</a>
              </div>
              <div class="bg-white border mt-2">
                <a href="askdl;asdkl;as"> Harry Potter</a>
             </div>
             <div class="bg-white border mt-2">
              <a href="askdl;asdkl;as"> Harry Potter</a>
           </div>
           <div class="bg-white border mt-2">
            <a href="askdl;asdkl;as"> Harry Potter</a>
         </div>
         <div class="bg-white border mt-2">
          <a href="askdl;asdkl;as"> Harry Potter</a>
       </div>
    

        </div>
      </div>
    </div>
  </div>
</body>

</html>
