{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'books/css/profile_css.css'%}">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container mt-0 mb-0">
      <div class="firstt">
        <a class="navbar-brand flex-grow-1" href="/main"><img style=" padding:0 !important; width: 92.8px; height: 40px;" src="{% static 'books/images/logo2.png'%}" alt="sani"></a>
      </div>


      <div class="thirdd">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       <div class="secondd flex-grow-1 d-flex">
        <form class="form-inline flex-nowrap bg-light mx-0 mx-lg-auto rounded p-1" style=" padding:0 !important;">
          <input  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
        </div>
      </div>


    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center " >
        <div class="panel panel-default" style="background-color: white !important;">
          <div class="userprofile social ">
            <div class="userpic"> <img src="{% static 'books/images/aitu.png'%}" alt="" class="userpicimg"> </div>
            <h3 class="username">ASTANA IT UNIVERSITY</h3>
            <p>@aitu</p>
            
          </div>
          <div class="col-md-12 center">
            <img class="pencil" src="{% static 'books/images/pencil.png'%}" alt="404">
            
          </div>
          

        <h5>3540<br>
          <small>Книг</small>
        </h5>
        
        </div>
        
      </div>
      
    </div>
    <div class="container" style="text-align: center !important;">
      <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="col">
            <div class="card" style="width: 14rem;">
          <img src="https://frankfurt.apollo.olxcdn.com/v1/files/5jk3l11vflbe2-KZ/image;s=686x1000" class="card-img-top" alt="..." style="height: 320px;">
          <div class="card-body">
            <h5 class="card-title">Абай жолы. Том 3</h5>
            <p class="card-text">Мухтар Ауезов</p>
            <p class="card-text"><a href="" style="text-decoration: none;">Nazarbayev University</a></p>
          </div>
          
          <div class="card-footer">
            <a href="#" class="card-link">Заказать книгу</a>
            
          </div>
        </div>
      </div>
        <div class="col">
          
              <div class="card" style="width: 14rem;">
            <img src="https://simg.marwin.kz/media/catalog/product/cache/8d1771fdd19ec2393e47701ba45e606d/1/0/1010596179.jpg" class="card-img-top" alt="..." style="height: 320px;">
            <div class="card-body">
              <h5 class="card-title">Кирпичи</h5>
              <p class="card-text">Данияр Сугралинов</p>
              <p class="card-text"><a href="/profil_unik" style="text-decoration: none;">AITU</a></p>
            </div>
            
            <div class="card-footer">
              <a href="#" class="card-link">Заказать книгу</a>
              
            </div>
          </div>
        </div>
        <div class="col">
          
              <div class="card" style="width: 14rem;">
            <img src="https://avatars.mds.yandex.net/get-mpic/4303516/img_id8019441446090570167.jpeg/orig" class="card-img-top" alt="..." style="height: 320px;">
            <div class="card-body">
              <h5 class="card-title">Зов Ктулху</h5>
              <p class="card-text">Говард Лавкрафт</p>
              <p class="card-text"><a href="/profil_unik" style="text-decoration: none;">ENU</a></p>
            </div>
            
            <div class="card-footer">
              <a href="#" class="card-link">Заказать книгу</a>
              
            </div>
          </div>
        </div>
        <div class="col">
          
              <div class="card" style="width: 14rem;">
            <img src="http://hpclub.ru/wp-content/uploads/2013/07/kkhp6.jpg" class="card-img-top" alt="..." style="height: 320px;">
            <div class="card-body">
              <h5 class="card-title">Гарри Поттер</h5>
              <p class="card-text">Джоун Роулинг</p>
              <p class="card-text"><a href="/profil_unik " style="text-decoration: none;">ENU</a></p>
            </div>
            
            <div class="card-footer">
              <a href="#" class="card-link">Заказать книгу</a>
              
            </div>
          </div>
        
      </div>
    </div>

    <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
      <div class="col">
          <div class="card" style="width: 14rem;">
        <img src="https://cdn.f.kz/prod/499/498040_550.jpg" class="card-img-top" alt="..." style="height: 320px;">
        <div class="card-body">
          <h5 class="card-title">Маленький Принц</h5>
          <p class="card-text">А. де Сент-Экзюпери</p>
          <p class="card-text"><a href="/profil_unik" style="text-decoration: none;">Nazarbayev University</a></p>
        </div>
        
        <div class="card-footer">
          <a href="#" class="card-link">Заказать книгу</a>
          
        </div>
      </div>
    </div>
      <div class="col">
        
            <div class="card" style="width: 14rem;">
          <img src="https://cdn.f.kz/prod/1832/1831903_550.jpg" class="card-img-top" alt="..." style="height: 320px;">
          <div class="card-body">
            <h5 class="card-title">Ход королевы</h5>
            <p class="card-text">У. С. Тевис</p>
            <p class="card-text"><a href="/profil_unik" style="text-decoration: none;">AITU</a></p>
          </div>
          
          <div class="card-footer">
            <a href="#" class="card-link">Заказать книгу</a>
            
          </div>
        </div>
      </div>
      <div class="col">
        
            <div class="card" style="width: 14rem;">
          <img src="https://cdn.f.kz/prod/902/901367_550.jpg" class="card-img-top" alt="..." style="height: 320px;">
          <div class="card-body">
            <h5 class="card-title">Триумфальная арка</h5>
            <p class="card-text">Э. М. Ремарк</p>
            <p class="card-text"><a href="/profil_unik" style="text-decoration: none;">ENU</a></p>
          </div>
          
          <div class="card-footer">
            <a href="#" class="card-link">Заказать книгу</a>
            
          </div>
        </div>
      </div>
      <div class="col">
        
            <div class="card" style="width: 14rem;">
          <img src="https://cdn.f.kz/prod/463/462069_550.jpg" class="card-img-top" alt="..." style="height: 320px;">
          <div class="card-body">
            <h5 class="card-title">Зеленая миля</h5>
            <p class="card-text">С. Э. Кинг</p>
            <p class="card-text"><a href="/profil_unik" style="text-decoration: none;">ENU </a></p>
          </div>
          
          <div class="card-footer">
            <a href="#" class="card-link">Заказать книгу</a>
            
          </div>
        </div>
      
    </div>
  </div>
  <!-- <div class="pagination" style="align-items: center;">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div> -->
  <nav aria-label="Page navigation example" >
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Прошлый</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Следующий</a>
      </li>
    </ul>
  </nav>
  
    </div>

    
</body>

</html>
