{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="shortcut icon" href="favicon.ico">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'books/css/signup.css'%}">
  <title>Sign up</title>
</head>

<body>

  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">

          <div class="text-center mt-4">
            <a href="signin.html">  <img class="logo" src="{% static 'books/images/logo2.png'%}" alt="LOGO"></a>
            <p class="lead">
              
            </p>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="m-sm-4">
                <form method="POST">
                  {% csrf_token %}

                  <div class="form-group">
                    <label>Имя</label>
                    <input class="form-control form-control-lg" type="text" name="name" placeholder="Введите свое имя">
                  </div>
                  <div class="form-group">
                    <label>Фамилия</label>
                    <input class="form-control form-control-lg" type="text" name="last_name" placeholder="Введите фамилию">
                  </div>
                  <div class="form-group">
                    <label>ИИН</label>
                    <input class="form-control form-control-lg" type="text" name="id_num" placeholder="Введите ИИН">
                  </div>
                  <div class="form-group">
                    <label>Номер</label>
                    <input class="form-control form-control-lg" type="text" name="phonw" placeholder="Введите свой телефон" >
                  </div>
                  <div class="form-group">
                    <label>Город</label> <br>
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Выберите город</option>
                      <option value="1">Нур-Султан</option>
                      <option value="2">Алматы</option>
                      <option value="3">Шымкент</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Школа</label> <br>
                    <select style="width: 150px !important;" class="form-select" aria-label="Default select example">
                      <option selected>Выберите школу</option>
                      <option value="1">КГУ «Школа-лицей №1» акимата города Нур-Султан</option>
                      <option value="2">КГУ «Школа-гимназия №2 имени Гафу Каирбекова» акимата города Нур-Султан</option>
                      <option value="3">КГУ "Школа-гимназия №3" акимата города Нур-Султан</option>
                      <option value="4">КГУ «Школа-гимназия №4 имени Жамбыла Жабаева» акимата города Нур-Султан</option>
                      <option value="5">КГУ «Гимназия № 5» акимата города Нур-Султан</option>
                      <option value="6">КГУ «КГУ «Гимназия №6» акимата города Нур-Султан </option>
                      <option value="7">КГУ «КГУ «Школа-гимназия № 7 имени Гали Орманова» акимата города Нур-Султан</option>
                      <option value="8">КГУ «КГУ «Средняя школа №8» акимата города Нур-Султан</option>
                      <option value="9">КГУ «Школа №9 для одаренных детей «Зерде» акимата города Нур-Султан</option>
                      <option value="10">КГУ «Школа-гимназия №10 имени Жумабека Ташенова» акимата города Нур-Султан</option>
                      <option value="11">КГУ «Комплекс «Детский сад – начальная школа №12» акимата города Нур-Султан</option>
                      <option value="12">КГУ «Средняя школа №13» акимата города Нур-Султан</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Почта</label>
                    <input class="form-control form-control-lg" type="email" name="email" placeholder="Введите свой email">
                  </div>
                  <div class="form-group">
                    <label>Пароль</label>
                    <input class="form-control form-control-lg" type="password" name="password" placeholder="Введите пароль">
                  </div>
                  <div class="form-group">
                    <label>Подтвердите пароль</label>
                    <input class="form-control form-control-lg" type="password" name="passwordc" placeholder="Подтвердите пароль">
                  </div>
                  <div class="text-center mt-3">
                    <input type="submit" class="btn btn-lg btn-danger cc" name="signup" value="Зарегистрироваться">
                    <hr>
                    <p class="termstext"> 
                      Регистрируясь, вы соглашаетесь с нашими Условиями.
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
